<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a celebrity</title>
</head>
<body>
    <header>
        <h2 class="w-50 mx-auto m-5">Create a new celebrity</h2>
    </header>

    <form action="/celebrities/create" method="POST" class="w-50 mx-auto m-5">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Occupation</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="occupation">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Catch Phrase</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="catchPhrase">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>